# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/

# Local config (VERY important)
local.properties

# OS junk
.DS_Store

# Android build outputs
captures/
.externalNativeBuild/
.cxx/

# Navigation editor / caches
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml